#Display boolean as checkbox, true or false
#Display checkbox on the same line as label
div
  = f.input_field :is_boolean, as: :boolean, label: false
  = ' This is my label'

# Show a list of checkboxes
= f.input_field :file_types, as: :check_boxes, collection: [['file','file'], ['folder','folder']]  
= f.collection_check_boxes :file_types,[['file','File'],['report','Report']], :first, :last
= f.input_field :event_types, as: :check_boxes, collection: [['previewed','previewed'], ['downloded','downloded']]
= f.input_field :types, as: :check_boxes, collection: [['box','box'], ['o365','o365']]
= f.input_field :file_types, as: :check_boxes, collection: [['file','file'], ['folder','folder']]  
