#Display boolean as checkbox
#Display checkbox on the same line as label
div
  = f.input_field :is_boolean, as: :boolean, label: false
  = ' This is my label'

# Show a list of checkboxes
= f.input_field :file_types, as: :check_boxes, collection: [['file','file'], ['folder','folder']]  
